<!-- footer
================================================== -->
<footer>

    <div class="row">

        <div class="twelve columns">

            <ul class="social-links">

              {{frontendobj.getsocialnetworklinks()}}

            </ul>

            <ul class="copyright">
                {{frontendobj.getcopyright()}}
               
            </ul>

        </div>

        <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

    </div>

</footer>
