<section id="portfolio">

    <div class="row">

        <div class="twelve columns collapsed">

            <h1>My personal Projects</h1>

            <!-- portfolio-wrapper -->
            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">

                <div class="columns portfolio-item">
                    <div class="item-wrap">

                        <a href="#modal-01" title="">
                            <img alt="" src="../../images/portfolio/condohandler.png">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Condo Handler</h5>
                                    <p>Symfony2 Web app</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>

                    </div>
                </div> <!-- item end -->

                <div class="columns portfolio-item">
                    <div class="item-wrap">

                        <a href="#modal-08" title="">
                            <img alt="" src="../../images/portfolio/cvmaker.png">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>CV Maker</h5>
                                    <p>My Small own php framework web app</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>

                    </div>
                </div>  <!-- item end -->

            </div> <!-- portfolio-wrapper end -->

        </div> <!-- twelve columns end -->


        <!-- Modal Popup
         --------------------------------------------------------------- -->

        <div id="modal-01" class="popup-modal mfp-hide">



            <div class="description-box">
                <h4>Condo Handler</h4>
                <p>Multilanguage Symfony2 Responsive Web app for manage condominiums</p>
                <span class="categories"><i class="fa fa-tag"></i>Symfony2,Php,Mysql,Jquery,Ajax,Zurb Foundation</span>
            </div>

            <div class="link-box">
                <a href="">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>

        </div><!-- modal-01 End -->



        <div id="modal-08" class="popup-modal mfp-hide">



            <div class="description-box">
                <h4>CV MAKER</h4>
                <p>Multi language Responsive PHP Web app for make your own curricullum</p>
                <span class="categories"><i class="fa fa-tag"></i>PHP Development,Web Design</span>
            </div>

            <div class="link-box">
                <a href="">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>

        </div><!-- modal-01 End -->


    </div> <!-- row End -->

</section> <!-- Portfolio Section End-->
